@using SportsStore.WebUI.Models
@model ProductsListViewModel

@using SportsStore.WebUI.HtmlHelpers
<!--Необходимо использовать using SportsStore.WebUI.HtmlHelpers, чтобы расширенный вспомогательный метод html был доступен в представлении
     либо добавить пространство имент в область видимости в Views/Web.config-->


@{
    ViewBag.Title = "Products";
}

@foreach (var p in Model.Products)
{
    @Html.Partial("ProductSummary", p)
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>


